.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    align-items: center;
    font-size: 2rem;

    .nav-links-container {
        display: flex;
        gap: 3rem;
        align-items: center;

        .nav-link {
            text-transform: uppercase;
            cursor: pointer;
        }
    }

}